/*
* @Author: Administrator
* @Date:   2018-05-15 20:01:28
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-16 00:32:58
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

body{
	background-color: #e6e6e6;
	color: #8897a2;
}

section.page{
	width: 960px;
	height: 1350px;
	background-color: white;
	margin: 20px auto;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

section.left_part{
	width: 275px;
	height: 1234px;
	background-color: #07426C;
	float: left;
	padding: 86px 15px 30px 30px;
}

section.right_part{
	width: 640px;
	height: 100%;
	float: left;
}

h3{
	width: 244px;
	height: 36px;
	padding-left: 32px;
	line-height: 36px;
	font-size: 21px;
	color: white;
	margin-bottom: 38px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i{
	color: black;
	width: 28px;
	height: 21px;
	padding-top: 7px;
	border-radius: 8px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	margin-right: 12px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.orange{
	background-color: #eb7d04;
}

.orange2{
	background-color: #e6a906;
}

.green{
	background-color: #92b630;
}

.red{
	background-color: #e86c6c;
}

.blue{
	background-color: #6396a9;
}

.blue2{
	background-color: #34a6d1;
}

.triangle{
	display: block;
	width: 0; 
	height: 0;
	border-left: 8px solid transparent; 
	border-right: 8px solid transparent; 
	border-top: 16px solid transparent; 
	position: relative;
	top: 0;
	left: 0;
}

span.tra_orange{
	border-top-color: #eb7d04;
}

span.tra_green{
	border-top-color: #92b630;
}

span.tra_red{
	border-top-color: #e86c6c;
}

span.tra_blue{
	border-top-color: #6396a9;
}

.bor_blue{
	border: 1px solid #34a6d1;
}

.bor_orange{
	border: 1px solid #e6a906;
}

.bor_green{
	border: 1px solid #92b630;
}

.bor_red{
	border: 1px solid #e86c6c;
}

.container{
	width: 254px;
	padding-left: 26px;
	margin-bottom: 55px;
}

.container > span{
	line-height: 28px;
}

.container > .box{
	width: 100%;
	height: 12px;
}

.container > .box_sm{
	width: 100%;
	height: 10px;
}

.parallelogram{
  display: inline-block;
  padding: 5px 12px;
  color: #333;
  transform: skew(-20deg);
}

.jn_l{
	display: inline-block;
	width: 90px;
}

section .container p{
	margin-bottom: 10px;
}

section img{
	width: 24%;
	margin:0 4%;
}

section div.box_lg{
	width: 100%;
	height: 100px;
}

section h4{
	font-weight: normal;
	font-size: 24px;
}

section .arrow{
	position: relative;
	top: -14px;
	left: 115px;
}

section .arrow .part1{
	width: 20px;
	height: 10px;
	position: relative;
	background-color: #909a9c;
}

section .arrow .part2{
	width:10px;
	height:10px;
	border-radius:0 0 100% 0;
	background-color: #909a9c;
	position: relative;
	left: 20px;
	top:-10px;
}

section .arrow .part3{
	width:10px;
	height:18px;
	background-color: #909a9c;
	position: relative;
	left: 20px;
	top:-38px;
}

section .arrow .part4{
	width: 0; 
	height: 0; 
	border-left: 13px solid transparent; 
	border-right: 13px solid transparent; 
	border-bottom: 18px solid #909a9c; 
	position: relative;
	left: 12px;
	top:-74px;
}